* {
  color: #e2e2e3;
  background: #2c2e34;
  border: none;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

#custom-dtname {
  /*color: #76cce0;*/
  padding-left: 10px;
  color: #b39df3;
}

#tray {
  color: #e7c664;
}

#custom-minicava {
  color: #9ed072;
}

#pulseaudio {
  color: #76cce0;
}

#custom-cmus {
  color: #9ed072;
}

#cpu {
  color: #b39df3;
}

#memory {
  color: #9ed072;
}

#disk {
  color: #f39660;
}

#network {
  color: #76cce0;
}

#battery {
  color: #9ed072;
}

#battery.warning:not(.charging) {
  color: #e7c664;
}

@keyframes blink {
  to {
    background-color: #2c2e34;
    color: #e2e2e3;
  }
}

#battery.critical:not(.charging) {
  color: #fc5d7c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  padding-right: 10px;
}

