!! Colorscheme

! special
*.foreground: #c4c5b5
*.background: #1a1a1a
*.cursorColor: #f6f6f6

! black
*.color0: #1a1a1a
*.color8: #1a1a1a

! red
*.color1: #f4005f
*.color9: #f4005f

! green
*.color2: #98e024
*.color10: #98e024

! yellow
*.color3: #fa8419
*.color11: #fa8419

! blue
*.color4: #9d65ff
*.color12: #9d65ff

! magenta
*.color5: #f4005f
*.color13: #f4005f

! cyan
*.color6: #58d1eb
*.color14: #58d1eb

! white
*.color7: #c3c5b5
*.color15: #c3c5b5

!! URxvt Appearance
URxvt.font: xft:JetBrainsMono Nerd Font:size=10
URxvt.boldFont: xft:JetBrainsMono Nerd Font:size=10
URxvt.italicFont: xft:JetBrainsMono Nerd Font:size=10
URxvt.boldItalicfont: xft:JetBrainsMono Nerd Font:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 10000
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: false
URxvt.depth: 24
URxvt.iso14755: true

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: command:\033[1;5A
URxvt.keysym.Control-Down: command:\033[1;5B
URxvt.keysym.Control-Right: command:\033[1;5C
URxvt.keysym.Control-Left: command:\033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.C-s: perl:keyboard-select:search
URxvt.keysym.C-n: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
